<style>
  .wrap-header1{
    border: 10px solid #27293d;
    padding-left: 109px;
    font-size: 45px;
  }

  .wrap-header2{
    border: 10px solid #27293d;
    padding-left: 144px;
    font-size: 45px;
  }

  .wrap-map{
    padding-left: 5px;
  }
  
  .wrap-legend{
    border: 5px solid #27293d;
    background: #27293d;
  }

  .table{
    color: #FFFFFFB3
  }
</style>

<div class="content">
  <div class=" row">
      <div class="col-sm"></div>
      <div class="card col-sm-6">
        <div class="card-header wrap-header1">Relative Positions</div>
        <div class="card-body wrap-map">
          <igx-geographic-map #mapRelativePositions
            width="580px"
            height="580px"
            zoomable="true" >
          </igx-geographic-map>

          <ng-template let-series="series" let-item="item" #templateRealTime>
              <div>
                <span>{{item.name}}</span>
              </div>
          </ng-template>
      </div>
    </div>
    <div class="col-sm"></div>
  </div>
  <div class=" row">
    <div class="card">
      <div class=" card-body">
        <div class=" table-responsive">
          <table class=" table tablesorter" id="">
            <thead class=" text-primary">
              <tr>
                <th *ngFor="let a of countriesRelativePositions">
                  {{a}}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td *ngFor="let a of valuesRelativePositions">
                  {{a}}
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
  </div>
  <div class=" row">
    <div class="col-sm"></div>
    <div class="card col-sm-6">
      <div class="card-header wrap-header2">Real Positions</div>
      <div class="card-body wrap-map">
        <igx-geographic-map #map
          width="580px"
          height="580px"
          zoomable="true" >
        </igx-geographic-map>

        <ng-template let-series="series" let-item="item" #template>
            <div>
              <span>{{item.name}}</span>
            </div>
        </ng-template>
    </div>
  </div>
  <div class="col-sm"></div>
</div>
<div class=" row">
  <div class="card">
    <div class=" card-header">
      Tweets with position on tweets without: {{realPositions.length}}/{{total}}
    </div>
    <div class=" card-body">
      <div class=" table-responsive">
        <table class=" table tablesorter" id="">
          <thead class=" text-primary">
            <tr>
              <th *ngFor="let a of countriesRealPositions">
                {{a}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td *ngFor="let a of valuesRealPositions">
                {{a}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>